/*--------------------------------*/
/*Basic setup for the whole page*/
/*--------------------------------*/

/*---green color code: ##5da295----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: rgb(30, 152, 138);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    text-rendering: optimizeLegibility;
    overflow-x: hidden; /*helps to make site responsive on any device*/
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*--------------------------------*/
/*Reusable components*/
/*--------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/*
.box {
    padding: 1%;
    
}
*/

/*--------headings--------*/
h1,
h2,
h3 {
    font-weight: 300;
    letter-spacing: 1px;
}

h2 {
    font-size: 150%;
    word-spacing: 2px;
    margin-bottom: 20px;
}

h3 {
    font-size: 80%;
    margin-top: 10px;
}

/*-- to create an solid line...before book title...--*/
h3:before {
    display: block;
    height: 2px;
    background-color: #b0b452;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/*--------Buttons--------*/
.btn:link,
.btn:visited {
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-addMovie {
    color: ;
    display: inline-block;
    padding: 3px 10px; /*means 3px:top/bottom & 10px:left/right*/
    font-weight: 350;
    background-color: #5da295;
    margin-bottom: 20px;
    border-radius: 3px;
}

.btn-full:link,
.btn-full:visited {
    color:#f0fffc;
    display: inline-block;
    padding: 5px 10px;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none; /*remove line under a text link */
    background-color: #1c8347;
    margin-bottom: 20px;
    border-radius: 3px 
}

.btn-full:hover,
.btn-full:active {
    background-color:#166738;
}

/*--------Modal--------*/
.modal {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 55%;
  height: 40%;
  top: 30vh;
  left: 23%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
  
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal-content {
    padding: 1.5rem;
    display: grid; 
    text-align:justify;
}

input {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 3px;
   
    
}

.modal-form h2 {
    margin-top: 15px;
}

.modal-actions {

}


/*--------------------------------*/
/*Header*/
/*--------------------------------*/
header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.76)), url(img/library.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;    
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px; /*move the logo a bit down*/
    border-radius: 50px;
    padding-left: 10px;
}


/*--------NAVIGATION--------*/
.main-nav {
    float:left;
    list-style: none; /*to romove the bullet point from navigation list(li)*/
    
}

.main-nav li {
    display: inline-block; /*to move navigation list item (li) side by side*/
    margin-left: 40px; /*add space between navigation list item (li)*/
    margin-top: 90px;
    font-size: 90%;
}

.main-nav li a:link,
.main-nav li a:visited { /* 'a' points to all nav <a> inside the <ul> element in html file*/
    padding: 2px 0; /*create space between underline & text for nav(li)*/
    text-decoration: none;
    color: #555;
    border-bottom: 2px solid transparent; /*keeps line under link transparent when hovering*/
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #5da295; /*show line under nav links when hovering*/
}
    

.title {
   color: aliceblue;
   font-size: 240%;
   font-weight:500;
   letter-spacing: 1px;
   word-spacing: 3px;
   margin-bottom: 5px
}

/*--------------------------------*/
/*Content*/
/*--------------------------------*/

/*--------Book Cover--------*/
.section-bookcover  {
    padding: 50px; /*remove space between section*/
}

.section-bookcover h2 {
    text-align: left;
    margin-left: 20px;
    font-size: 20px
}

.bookcover-transition {
    overflow: hidden; /*the img will not be bigger than the screen*/
    background-color: #000;
}

.bookcover-transition img {
    opacity: 1;
    display: inline-block;
    height: auto;
    width: 60%; /*changes size img*/
    transform: scale(1);
    transition: transform 0.3s, opacity 0.3s;
    
}

.bookcover-transition img:hover{
    opacity: 0.7;
    transform: scale(1.15);
    background-color: #000;
}


/*--------Book Search--------*/
.section-searchbook {
    padding: 0;
    background-color: #f4f4f4;
    
}

.bookList-list  {
   margin: 1rem 0;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
   padding: 1rem;
   
}

/*--------------------------------*/
/*Background Toggle*/
/*--------------------------------*/
#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}